// app global css
.my-card
  width: 100%;
  max-width: 700px;
  padding: 4px;

.centralDiv{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px
}

.vjs-tree {
  word-break: break-all;
  font-size: 10px !important
}

.del-btn {
  z-index: 20 !important
}

.fa-p:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'P';
}

.fa-g:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'G';
}

.fa-u:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'U';
}

.fa-d:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'D';
}

.tableDeRelatorio{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btnMenu{
  color: #000000;
  height: 100px; 
  width: 120px;
}

.scrollArea{
  height: calc(100% - 150px);
  margin-top: 150px; 
  border-right: 1px solid #ddd;
}

.fabCenter{
  height: 75px
  width: 75px
  bottom: 10px; 
  left: calc(50% - 20px)
  z-index: 3000
}

.iconFabCenter {
  font-size: 50px !important;
}

.fabBack{
  left: calc(50% - 70px)
  bottom: 28px; 
  z-index: 3000
}

.fabRight{
  right: 18px; 
  bottom: 60px; 
  z-index: 10
}

.fabLeft{
  left: 18px; 
  bottom: 60px; 
  z-index: 10
}